.payment-actions[data-v-b5e6a785]{display:flex;gap:var(--spacing-md);margin-bottom:var(--spacing-xl)}@media (max-width: 768px){.payment-actions[data-v-b5e6a785]{flex-direction:column}.payment-actions .btn[data-v-b5e6a785]{width:100%}}
