/* ===== Football Team Manager - Main Stylesheet ===== */

/* Import all CSS modules */
@import './css/variables.css';
@import './css/layout.css';
@import './css/buttons.css';
@import './css/cards.css';
@import './css/forms.css';
@import './css/components.css';
@import './css/modals.css';
@import './css/responsive.css';

/* ===== Google Fonts ===== */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');